fastapi==0.115.4
uvicorn[standard]==0.30.6

# Templates/utilidades
jinja2==3.1.4
requests==2.32.3
python-dotenv==1.0.1

# Config y validación
pydantic[email]==2.9.2
pydantic-settings==2.6.1

# Subida de archivos / estáticos
python-multipart==0.0.9
aiofiles==23.2.1

# Supabase SDK 2.x
supabase==2.6.0

# Cloudinary
cloudinary==1.32.0

# (Opcional pero recomendado para JSON rápido)
orjson==3.10.7

# (Opcional si prefieres arrancar con gunicorn)
gunicorn==21.2.0
